/* 
    Document   : shopifine
    Created on : Jun 22, 2012, 2:32:59 PM
    Author     : abhijit
    Description:
        Purpose of the stylesheet follows.
*/

.new { 
    background-image: url(../images/tag.gif);
    background-repeat:no-repeat;
    background-position: right top;
}
.sf-button-social {
cursor: pointer;
border: 0;
width: 194px;
height: 28px;
display: inline-block;
zoom: 1;
}

.sf-button-social.fb {
 background-image: url(../images/facebookconnect.gif);
}
