<?php
/**
 * Side menu for store
 *
 * @see Shopifine_Setup_Block_Html_Sidemenu
 */
?>

<?php $_menu = $this->getHtml('level-top') ?>
<?php if($_menu): ?>
<div style ="padding: 0 ; position:absolute;" id ="menu-container" class="demo-container clear">
<div class="dcjq-vertical-mega-menu">
    <div id="middlebar" >
    <ul class="dropdownmenu">
        <li><a href="#" >Browse Your Store</a></li>
        <li>
            
        </li>
        </ul>

</div> 
    <ul id="sidenav" class="menu" style="float:none;">
        <?php echo $_menu ?>
    </ul>
</div>
</div>
<?php endif ?>