<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<script type="text/javascript" src="<?php echo 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery.dcverticalmegamenu.1.1.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery.hoverIntent.minified.js') ?>"></script>

<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/vertical_menu_basic.css') ?>"/>

<style>
    
#middlebar{
font-size:11px;
color:#3b5d14;
background:#90b557;
font-weight:bold;
padding:2px;
height:25px;
}
#middlebar .dropdownmenu li {
background:url(lm.png) left top no-repeat;
height:25px;
float:left;
margin-right:10px;
}
#middlebar .dropdownmenu li a{
color:#3b5d14;
text-decoration:none;
padding:0 10px;
height:25px;
line-height:25px;
display:block;
float:left;
padding:0 26px 0 10px;
background:url(rm.png) right top no-repeat;
}
.noFloat {
    float:none;
}

</style>
    
<script type="text/javascript">
    jQuery.noConflict();
    
jQuery(document).ready(function(){
	jQuery('#sidenav').dcVerticalMegaMenu({
		rowItems: '2',
		speed: 'fast',
		effect: 'slide',
		direction: 'right'
	});
        
});
    
    
    function showlayer(){
        jQuery('.menu').toggle('slow');
        }
   jQuery(document).ready( function init (){
        jQuery('.menu').hide();
        
    });

   
        
   
</script>

