<?php $_order = $this->getOrder() ?>
<div class="box-left">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-account"><?php echo Mage::helper('sales')->__('Delivery Information') ?></h4>
        </div>
        <div class="fieldset">
            <table cellspacing="0" class="form-list">
            <?php 
            	$custom = $this->getDeliveryInfo();
            	//foreach($custom as $key => $value){ 
            ?>
            <tr>
                <td style="width:10%" class="label"><strong><?php echo Mage::helper('sales')->__('Delivery Date') ?></strong></td>
                <td class="value"><?php echo $custom['delivery_date'];?></td>
            </tr>
            <tr>
                <td style="width:10%" class="label"><strong><?php echo Mage::helper('sales')->__('Delivery Slot') ?></strong></td>
                <td class="value"><?php echo $custom['delivery_slot'];?></td>
            </tr>
            <tr>
                <td style="width:10%" class="label"><strong><?php echo Mage::helper('sales')->__('Comments') ?></strong></td>
                <td class="value"><?php 
                if (array_key_exists('comments', $custom))
                echo $custom['comments'];?></td>
            </tr>
            <?php //} ?>
            </table>
        </div>
    </div>
</div>
<div class="clear"></div>