<?php
$shopifineSearchHelper =  $this->helper('shopifine_search');
$catSession = Mage::getSingleton('catalogsearch/session');
$resultCount = $catSession->getData($shopifineSearchHelper::QUERY_RESULT_COUNT);
$catSession->unsetData($shopifineSearchHelper::QUERY_RESULT_COUNT);

?>


<?php if ($resultCount == 0) : ?>
<form id="search_contact_form" action="<?php echo $shopifineSearchHelper->getContactUrl() ?>" method="post">
    <div class="form-contact">
        
        <fieldset>
            
            <ul class="form-list">
                <li class="fields">
                     <div class="field">
                        <label for="quantity"><?php echo $this->__('Quantity:') ?></label>
                        <div class="input-box">
                            <input id="quantity" type="text" name="quantity" value="" class="input-text validate-not-negative-number"/>
                        </div>
                    </div>
       
                    <div class="field">
                        <label for="email"><?php echo $this->__('Email:') ?></label>
                        <div class="input-box">
                            <input id="email" type="text" name="email" value="" class="input-text validate-email"/>
                        </div>
                    </div>
                <li>
                    <li class="fields">
                    <div class="field">
                        <label for="mobile"><?php echo $this->__('Mobile:') ?></label>
                        <div class="input-box">
<!--                            <input id="mobile" type="text" name="mobile" value="" class="input-text validate-email"/>-->
                        <input id="mobile" type="text" name="mobile" value="" class="input-text validate-digits validate-length maximum-length-10 minimum-length-10" maxlength="10"/>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label for="landline"><?php echo $this->__('Landline:') ?></label>
                        <div class="input-box">
                            +91- 80 - <input id="landline" type="text" name="landline" value="" class="input-text validate-digits validate-length maximum-length-8 minimum-length-8" maxlength="8" />
                        </div>
                    </div>
                    </li>
                   <li class="wide">
                    
                        <label for="comments"><?php echo $this->__('Additional comments if required(like if needed before a specific date)') ?></label>
                        <div class="input-box">
                            <input id="comments" type="text" name="comments" value="" class="input-text"/>
                        </div>
                    
                  </li>
            </ul>
        </fieldset>
        

        
        <button type="submit" title="<?php echo $this->__('Contact') ?>" class="button validate-one-of-email-phone"><span><span><?php echo $this->__('Yeah Sure.Get in Touch!!') ?></span></span></button>
    </div>
</form>
<?php endif ; ?>

<script type="text/javascript">
//<![CDATA[
    
    var contactForm = new VarienForm('search_contact_form',true);

    //billingForm.setElementsRelation('billing:country_id', 'billing:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');
   
//]]>
</script>
