<div class="col-set order-info-box">
    <div class="col">
        <div class="box">
            <div class="box-title">
                <h2><?php echo $this->__('Delivery Informations') ?></h2>
            </div>
            <div class="box-content">
 
                    <?php
                        $custom = $this->getDeliveryInfo();
                        
                    ?>
                        <b><?php echo $this->__('Delivery Date');?></b> : <?php echo $custom['delivery_date'];?> <br/>
                        <b><?php echo $this->__('Delivery Slot');?></b> : <?php echo $custom['delivery_slot'];?> <br/>
                        <b><?php echo $this->__('Comments');?></b> : <?php echo $custom['comments'];?> <br/>
                    <?php  ?>
 
            </div>
        </div>
    </div>
</div>